.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 510px;
  height: 510px;
  margin: 20px;
}

.boxes {
  width: 166px;
  height: 166px;
  border: 2px solid black;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#blank {
  background-color: white;
  width: 166px;
  height: 166px;
}

.container {
  display: flex;
  width: 100%;
}

body {
  height: 1200px;
  width: 1200px;
  background-color: black;
}

header {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 50px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  width: 785px;
  margin: none;
}

.images {
  width: 100%;
  height: 100%;
}

.moves {
  color: white;
  margin: 10px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: fantasy;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

#start, #autoComplete, #playAgain {
  background: transparent;
  color: orange;
  border: orange;
  border: 2px solid orange;
  border-radius: 6px;
  font-family: fantasy;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

#start:hover {
background-color: grey;
  }

#autoComplete:hover {
background-color: grey;
  }

#playAgain:hover {
  background-color: grey;
}

//find a pale yellow

.instructions {
  color: orange;
  width: 250px;
  height: 300px;
  font-family: fantasy;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

.moves.div {
  height: 200px;
  color: orange;
  font-family: fantasy;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
}

h1 {
  color: orange;
  font-family: fantasy;
  font-size: 40px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  margin: none;
}

.button:hover {
  background: blue;
}

#score {
animation: grow 1.5s infinite;
}

@keyframes grow {
  0% {
    font-size: 15px;
  }
  50% {
    font-size: 17px;
  }
  100% {
    font-size: 19px;
  }
}

//ring every time click
//get the hover to work
//scrolls
//typewriter
//audio
//you won in --- seconds
//get header to appear from jumbled 
